ion-row {
	margin-top: 20px;
	margin-left: 24px;
	margin-right: 24px;
	background-color: var(--ion-color-primary);
	border-radius: 4px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	h1 {
		color: white;
		margin-left: 20px;
		font-size: 18px;
		text-transform: uppercase;
	}
}
