.image-product {
	max-height: 300px;
	overflow: scroll;
	padding: 8%;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 20px;
	position: relative;
}

.line-image {
	background-color: white;
	position: relative;
	z-index: 1;
	height: 30px;
	-webkit-box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.24);
  	-moz-box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.24);
  	box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.24);
}
