<ion-card class="classCss">
	<ion-card-header>
		<ion-card-subtitle>
			{{marketName}}
			<a [href]="urlToMaps" target="_blank"> Como chegar?</a>
			<ion-icon
				(click)="handleClick(productId)"
				class="ion-float-right"
				color="danger"
				*ngIf="isDelete"
				name="trash-outline"
			></ion-icon>
		</ion-card-subtitle>
	  	<ion-card-title>{{productName}} - R$ {{price}}</ion-card-title>
		<ion-card-subtitle *ngIf="isPromotional" color="tertiary">
			Produto registrado em perído promocional
		</ion-card-subtitle>
	</ion-card-header>
	<ion-card-content>
		<p>Produto cadastrado em: {{ publishedIn }}</p>
		<p>Categoria: {{category}}</p>
		<ion-row>
			<div (click)="changeIcon()" class="iconClick">
				<ion-icon name="thumbs-up-sharp" [color]="isLiked ? 'primary' : 'ligth'"></ion-icon>
			</div>
			<ion-text [color]="isLiked ? 'primary' : 'ligth'">{{numberLikes}} curtidas</ion-text>
		</ion-row>
		<ion-row>
			<div class="align-center" (click)="handleFeedBack()">
				<ion-icon [color]="isFeedBack ? 'primary' : 'ligth'" name="sad-outline"></ion-icon>
				<ion-text [color]="isFeedBack ? 'primary' : 'ligth'">Não encontrei o Produto</ion-text>
			</div>
		</ion-row>
		<ion-button class="ion-margin-top">
			Comentários
		</ion-button>
	</ion-card-content>
</ion-card>
