ion-icon {
	font-size: 25px;
}

.iconClick {
	cursor: pointer;
}

.not-distance {
	height: 300px;
}
.show-distance {
	height: 350px;
}

ion-text {
	font-size: 16px;
	margin-top: 5px;
	margin-left: 10px;
}

ion-card-content {
	display: flex;
	flex-direction: column;
}

ion-card-title {
	text-transform: capitalize;
}

.align-center {
	display: flex;
	align-items: center;
	cursor: pointer;
}

ion-row {
	margin-top: 10px;
}
