<ion-header translucent>
	<ion-toolbar color="primary">
		<ion-title>Seja Bem Vindo!</ion-title>
		<ion-buttons slot="end">
			<ion-button [routerLink]="['/home']">Começar a usar</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen>
	<div class="info">
		<div class="image">
			<ion-img src="/assets/images/welcome.svg"></ion-img>
		</div>

		<h1>Todas as suas ações no APP geram pontos!</h1>
		<h3>Você pode ganhar pontos cadastrando seus produtos, curtindo, e dizendo que não encontrou algum produto.</h3>

		<div class="ion-margin"></div>
		<h3>Quanto mais pontos, mais funcionalidade são desbloqueadas no APP.</h3>
	</div>
</ion-content>
