<app-menu-lateral></app-menu-lateral>
<ion-content  id="main-content">
	<app-header [hasMenu]="true"></app-header>

	<ion-card>
		<ion-card-header *ngIf="productInfo">
			<ion-row class="ion-align-items-center content-back" (click)="redirectHome()">
				<ion-icon color="dark" name="arrow-back-outline"></ion-icon>
				<p>Voltar</p>
			</ion-row>
			<ion-card-title>{{ productInfo.title }} - R$ {{ productInfo.price }}</ion-card-title>

			<ion-card-subtitle color="primary">{{ productInfo.marketName }}</ion-card-subtitle>
			<ion-card-subtitle>Categoria: {{ productInfo.category }}</ion-card-subtitle>
			<ion-card-subtitle>Cadastrado em: {{ productInfo.creat_at }}</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content *ngIf="productInfo">
			<ion-grid>
				<ion-row *ngFor="let comment of comments">
					<ion-col size="2">
						<ion-icon name="person-circle-outline" size="large"></ion-icon>
					</ion-col>
					<ion-col>
						<div class="comments">
							<ion-row>
								<ion-text color="primary">{{comment.userName}}</ion-text>
							</ion-row>
							<p>{{comment.message}}</p>
						</div>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-textarea [(ngModel)]='message' placeholder="Escreva um Comentário..."></ion-textarea>
				</ion-row>
			</ion-grid>
			<ion-button (click)="addNewComment()">Enviar</ion-button>
		</ion-card-content>
	</ion-card>
</ion-content>
