<ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
		<div class="points-user">
			<ion-icon name="trophy-sharp" class="ion-margin-end"></ion-icon>
			<ion-text>1000 pontos</ion-text>
		</div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
		<ion-list>
			<ion-item
				*ngFor="let item of menuItens"
				(click)="changeNavigation(item.link)">
				<ion-icon [name]="item.iconName" slot="start"></ion-icon>
				<ion-label>{{item.label}}</ion-label>
			</ion-item>
		</ion-list>
    </ion-content>
  </ion-menu>
