<app-menu-lateral></app-menu-lateral>

<ion-content id="main-content">
	<ion-header>
		<ion-toolbar color="primary">
			<ion-buttons slot="start">
				<ion-menu-button auto-hide="false"></ion-menu-button>
			</ion-buttons>
			<ion-title>QUANTU</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button>
			<ion-icon name="camera-outline"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<app-produtos-lista></app-produtos-lista>
</ion-content>
